openapi: 3.1.0
info:
  title: Cordialy API
  description: API pública para integração com a plataforma Cordialy de atendimento via WhatsApp com IA.
  version: 1.0.0
  contact:
    email: suporte@cordialy.ai

servers:
  - url: https://api.cordialy.ai/integrations/v1
    description: Produção

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Chave de API gerada na plataforma em Integrações → API Keys

  schemas:
    Lead:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identificador único do lead
        store_id:
          type: string
          format: uuid
          description: ID da loja
        name:
          type: string
          nullable: true
          description: Nome do lead
        customer_phone:
          type: string
          description: "Telefone no formato E.164 (ex: 5511999998888)"
        status:
          type: string
          enum: [pending, in_progress, converted, lost]
          description: Status atual do lead
        seller_id:
          type: string
          format: uuid
          nullable: true
          description: Vendedor responsável
        interaction_count:
          type: integer
          description: Número de interações realizadas
        ai_paused_until:
          type: string
          format: date-time
          nullable: true
          description: IA pausada até esta data/hora
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ChatMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        lead_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [user, assistant, agent]
          description: "`user` = lead, `assistant` = IA, `agent` = consultor humano"
        content:
          type: string
          description: Conteúdo da mensagem
        source:
          type: string
          enum: [whatsapp, call, api]
          description: "`whatsapp` = mensagem via WhatsApp, `call` = chamada de voz, `api` = enviada via API"
        media_type:
          type: string
          enum: [image, video, audio, document]
          nullable: true
        media_url:
          type: string
          nullable: true
        session_id:
          type: string
          format: uuid
          nullable: true
          description: Sessão de atendimento associada
        created_at:
          type: string
          format: date-time

    LeadSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        lead_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, converted, lost, abandoned]
          description: Status da sessão
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
          nullable: true

    AgentCondition:
      type: object
      properties:
        id:
          type: string
          format: uuid
        condition_type:
          type: string
          enum: [lead_status, interaction_count, message_contains, media_type, time_of_day, conversation_stage, last_agent_id, sentiment, has_open_appointment]
          description: Tipo da condição avaliada
        operator:
          type: string
          enum: ["=", "!=", ">", "<", ">=", "<=", contains, not_contains]
          description: Operador de comparação
        value:
          type: string
          description: Valor a ser comparado

    AgentConditionGroup:
      type: object
      description: Grupo de condições — todas devem ser verdadeiras (AND) para o agente ser ativado
      properties:
        id:
          type: string
          format: uuid
        group_index:
          type: integer
        logical_operator:
          type: string
          enum: [AND]
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/AgentCondition'

    Agent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Nome do agente
        model:
          type: string
          enum: [auto, gemini, openai]
          description: "`auto` = usa o padrão da loja, `gemini` = Google Gemini, `openai` = OpenAI GPT-4"
        priority:
          type: integer
          description: Prioridade de seleção (menor número = maior prioridade)
        is_active:
          type: boolean
        is_default:
          type: boolean
          description: Agente padrão usado quando nenhuma condição for satisfeita
        voice_id:
          type: string
          nullable: true
          description: ID de voz ElevenLabs para respostas em áudio
        audio_response_enabled:
          type: boolean
          description: Responde com áudio quando o lead enviar áudio
        condition_groups:
          type: array
          description: Grupos de condições de ativação (OR entre grupos, AND dentro de cada grupo)
          items:
            $ref: '#/components/schemas/AgentConditionGroup'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    FollowupConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Nome da configuração
        is_active:
          type: boolean
        trigger_type:
          type: string
          enum: [silence, post_handover, post_contact]
          description: "`silence` = inatividade do lead, `post_handover` = após transferência, `post_contact` = após primeiro contato"
        trigger_delay_minutes:
          type: integer
          description: Minutos após o trigger para disparar
        followup_type:
          type: string
          enum: [fixed_message, ai_objective]
          description: "`fixed_message` = mensagem fixa, `ai_objective` = IA gera com base no objetivo"
        message:
          type: string
          nullable: true
          description: Mensagem enviada quando `followup_type = fixed_message`
        objective:
          type: string
          nullable: true
          description: Objetivo passado à IA quando `followup_type = ai_objective`
        max_attempts:
          type: integer
          description: Número máximo de tentativas
        min_interval_minutes:
          type: integer
          description: Intervalo mínimo entre tentativas
        created_at:
          type: string
          format: date-time

    ScheduledFollowup:
      type: object
      properties:
        id:
          type: string
          format: uuid
        lead_id:
          type: string
          format: uuid
        config_id:
          type: string
          format: uuid
          nullable: true
        status:
          type: string
          enum: [pending, sent, failed, cancelled]
          description: Status do follow-up agendado
        followup_type:
          type: string
          enum: [fixed_message, ai_objective]
        scheduled_at:
          type: string
          format: date-time
          description: Data/hora agendada para envio
        attempt_number:
          type: integer
          description: Número da tentativa
        message_sent:
          type: string
          nullable: true
          description: Mensagem enviada (preenchido após envio)
        sent_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          description: Título do documento
        content:
          type: string
          description: Conteúdo usado pelo agente de IA (RAG)
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    Seller:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identificador único do colaborador
        name:
          type: string
          description: Nome do colaborador
        whatsapp_id:
          type: string
          description: Número de WhatsApp do colaborador
        is_active:
          type: boolean
          description: Se o colaborador está ativo e pode receber atribuições

    Erro:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

paths:
  # ── Leads ──────────────────────────────────────────────────────────────────

  /leads:
    get:
      operationId: listLeads
      summary: Listar leads
      description: Retorna todos os leads da loja com suporte a filtros e paginação.
      tags: [Leads]
      parameters:
        - name: status
          in: query
          description: Filtrar por status
          schema:
            type: string
            enum: [pending, in_progress, converted, lost]
        - name: seller_id
          in: query
          description: Filtrar por vendedor
          schema:
            type: string
            format: uuid
        - name: since
          in: query
          description: Retorna leads criados/atualizados após esta data (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Lista de leads
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lead'
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer

    post:
      operationId: createLead
      summary: Criar lead
      description: Cria um novo lead. Se já existir um lead com o mesmo telefone, retorna o existente sem duplicar.
      tags: [Leads]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [customer_phone]
              properties:
                customer_phone:
                  type: string
                  description: Número no formato E.164
                  example: "5511999998888"
                name:
                  type: string
                  example: "João Silva"
                status:
                  type: string
                  enum: [pending, in_progress, converted, lost]
                  default: pending
      responses:
        '201':
          description: Lead criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
        '400':
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'

  /leads/{leadId}:
    get:
      operationId: getLead
      summary: Buscar lead
      description: Retorna os dados de um lead pelo ID.
      tags: [Leads]
      parameters:
        - name: leadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lead encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
        '404':
          description: Lead não encontrado

    patch:
      operationId: updateLead
      summary: Atualizar lead
      description: Atualiza nome, status ou vendedor responsável de um lead.
      tags: [Leads]
      parameters:
        - name: leadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                status:
                  type: string
                  enum: [pending, in_progress, converted, lost]
                seller_id:
                  type: string
                  format: uuid
                  nullable: true
      responses:
        '200':
          description: Lead atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'

  /leads/{leadId}/messages:
    get:
      operationId: listLeadMessages
      summary: Listar mensagens
      description: Retorna o histórico completo de mensagens de um lead.
      tags: [Mensagens]
      parameters:
        - name: leadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          description: Retorna mensagens a partir desta data (ISO 8601)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Lista de mensagens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatMessage'

    post:
      operationId: sendMessage
      summary: Enviar mensagem
      description: Envia uma mensagem de texto ao lead via WhatsApp. A mensagem é salva no histórico com `source = api` e aparece destacada em roxo na plataforma.
      tags: [Mensagens]
      parameters:
        - name: leadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  example: "Olá! Como posso ajudar?"
      responses:
        '200':
          description: Mensagem enviada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent:
                    type: boolean
                    example: true

  /leads/{leadId}/sessions:
    get:
      operationId: listLeadSessions
      summary: Listar sessões
      description: Retorna todas as sessões de atendimento de um lead em ordem cronológica.
      tags: [Mensagens]
      parameters:
        - name: leadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de sessões
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeadSession'

  # ── Agents ─────────────────────────────────────────────────────────────────

  /agents:
    get:
      operationId: listAgents
      summary: Listar agentes
      description: Retorna todos os agentes ativos da loja com seus grupos de condições de ativação.
      tags: [Agentes]
      responses:
        '200':
          description: Lista de agentes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agent'

  /agents/{agentId}:
    get:
      operationId: getAgent
      summary: Buscar agente
      description: Retorna os dados de um agente específico incluindo suas condições.
      tags: [Agentes]
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agente encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'

  # ── Followups ──────────────────────────────────────────────────────────────

  /followups/configs:
    get:
      operationId: listFollowupConfigs
      summary: Listar configurações
      description: Retorna todas as regras de follow-up configuradas para a loja.
      tags: [Follow-up]
      responses:
        '200':
          description: Lista de configurações
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FollowupConfig'

  /followups/scheduled:
    get:
      operationId: listScheduledFollowups
      summary: Listar follow-ups agendados
      description: Sem `lead_id` retorna todos os follow-ups **pendentes** da loja. Com `lead_id` retorna todos os follow-ups do lead em qualquer status.
      tags: [Follow-up]
      parameters:
        - name: lead_id
          in: query
          description: Filtrar por lead específico
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de follow-ups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduledFollowup'

    post:
      operationId: scheduleFollowup
      summary: Agendar follow-up
      description: Agenda um follow-up manualmente para um lead com base em uma configuração existente.
      tags: [Follow-up]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lead_id, config_id]
              properties:
                lead_id:
                  type: string
                  format: uuid
                  description: ID do lead que receberá o follow-up
                config_id:
                  type: string
                  format: uuid
                  description: ID de uma configuração de follow-up ativa
                scheduled_at:
                  type: string
                  format: date-time
                  description: Quando disparar. Se omitido, usa `agora + trigger_delay_minutes` da configuração.
      responses:
        '201':
          description: Follow-up agendado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledFollowup'
        '400':
          description: Configuração inativa ou dados inválidos
        '404':
          description: Lead ou configuração não encontrados

  /followups/scheduled/{followupId}:
    delete:
      operationId: cancelFollowup
      summary: Cancelar follow-up
      description: Cancela um follow-up com status `pending`. Retorna erro se já foi enviado, falhou ou cancelado.
      tags: [Follow-up]
      parameters:
        - name: followupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Follow-up cancelado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  cancelled:
                    type: boolean
                  id:
                    type: string
                    format: uuid
        '400':
          description: Follow-up não está pendente
        '404':
          description: Follow-up não encontrado

  # ── Knowledge ──────────────────────────────────────────────────────────────

  /knowledge/documents:
    get:
      operationId: listDocuments
      summary: Listar documentos
      description: Retorna a base de conhecimento da loja usada pelo agente de IA (RAG).
      tags: [Base de conhecimento]
      responses:
        '200':
          description: Lista de documentos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'

  /knowledge/documents/{documentId}:
    get:
      operationId: getDocument
      summary: Buscar documento
      description: Retorna o conteúdo completo de um documento da base de conhecimento.
      tags: [Base de conhecimento]
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Documento encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          description: Documento não encontrado

  # ── Reports ────────────────────────────────────────────────────────────────

  /reports/leads:
    get:
      operationId: getLeadReport
      summary: Relatório por lead
      description: Retorna métricas detalhadas de um lead específico.
      tags: [Relatórios]
      parameters:
        - name: lead_id
          in: query
          required: true
          description: ID do lead
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Relatório do lead

  /reports/summary:
    get:
      operationId: getSummaryReport
      summary: Sumário da loja
      description: Retorna métricas agregadas de atendimento da loja em um período.
      tags: [Relatórios]
      parameters:
        - name: from
          in: query
          description: Início do período (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Fim do período (ISO 8601)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Sumário de métricas

  # ── Sellers ────────────────────────────────────────────────────────────────

  /sellers:
    get:
      operationId: listSellers
      summary: Listar colaboradores
      description: Retorna todos os colaboradores da loja.
      tags: [Colaboradores]
      responses:
        '200':
          description: Lista de colaboradores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Seller'

    post:
      operationId: createSeller
      summary: Criar colaborador
      description: Cria um novo colaborador na loja.
      tags: [Colaboradores]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, whatsapp_id]
              properties:
                name:
                  type: string
                  example: "Ana Lima"
                whatsapp_id:
                  type: string
                  description: Número de WhatsApp do colaborador
                  example: "5511988887777"
      responses:
        '201':
          description: Colaborador criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Seller'
        '400':
          description: Dados inválidos

  /sellers/{sellerId}:
    get:
      operationId: getSeller
      summary: Buscar colaborador
      description: Retorna os dados de um colaborador pelo ID.
      tags: [Colaboradores]
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Colaborador encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Seller'
        '404':
          description: Colaborador não encontrado

    patch:
      operationId: updateSeller
      summary: Atualizar colaborador
      description: Atualiza nome, WhatsApp ou status ativo de um colaborador.
      tags: [Colaboradores]
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                whatsapp_id:
                  type: string
                is_active:
                  type: boolean
                  description: "false para desativar sem remover o histórico"
      responses:
        '200':
          description: Colaborador atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Seller'

    delete:
      operationId: deleteSeller
      summary: Remover colaborador
      description: Remove permanentemente um colaborador. Leads atribuídos ficam sem responsável. Prefira desativar com `is_active false`.
      tags: [Colaboradores]
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Colaborador removido
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  id:
                    type: string
                    format: uuid
        '404':
          description: Colaborador não encontrado

  # ── Store ──────────────────────────────────────────────────────────────────

  /store:
    get:
      operationId: getStore
      summary: Dados da loja
      description: Retorna as informações da loja associada à API key autenticada.
      tags: [Loja]
      responses:
        '200':
          description: Dados da loja
